/*TYPOGRAPHY*/
h1 {
  font: normal 700 2em/1.4 Droid Serif, serif;
  padding: 0 16px 0 16px;
}

h2 {
  font: normal 300 1.5em/1.2 Lato, sans-serif;
  padding: 0 16px 0 16px;
}

h3 {
    font: normal 700 1.7em/1.2 Droid Serif, serif;
    padding: 1em 16px 0.5em 16px;
    color: #506077; 
}

p {
    font: normal 400 1em/2 Droid Sans, sans-serif;
    padding: 0 16px 0.2em 16px;
    color: #506077; 
}

h4 {
    font: normal 300 1.5em/2 Lato, sans-serif;
    padding: 1em 16px 0.5em 16px;
    color: #919191;
}

body {
    font-size: 18px;
}

@media screen and (max-width: 320px) {
  .headline{
    top: 45%; 
  }

  .cover{
    font-size: 5vw;
  }

}

@media screen and (min-width:321px) and (max-width: 655px) {
  .headline{
    top: 50%; 
  }

}

@media screen and (min-width: 633px) {
  .headline{
    top: 65%; 
  }
}

.headline {
    color:#ffffff; 
    position: absolute;
    margin: 0 auto; 
}

.img-caption {
    font: normal 300 0.9em/1.5 Lato, sans-serif;
    color: #919191; 
    text-align: center;
    margin-top: 0.5em;
}


 .qoute {
    font: normal 400 1em/2 Droid Serif, serif;
    color:#919191; 
    padding: 0.5em 25px 0.5em 25px; 
 }

 /*STRUCTURE */
.cover {
  position: relative;
  width: 100vw;
}

@media screen and (max-width: 680px){
  .cover{
    height: 100vh;
  }
}

@media screen and (min-width: 681px) and (max-width:768px){
  .cover{
    height: 95vh; 
  }
}

@media screen and (min-width: 768px) and (max-width:1024px){
  .cover{
    height: 85vh; 
  }
}

@media screen and (min-width: 1024px){
  .cover{
    height: 80vh; 
  }
}

.cover_img{
}

.row {
    max-width: 700px;
    margin: 0 auto; 
}

.container-fluid {
    padding: 0; 
}

.img {
    margin: 1em 0 1em 0;
}

img {
  width: 100%;
}
