/*TYPOGRAPHY*/
h1 {
  font: normal 700 2em/1.4 Droid Serif, serif;
  padding: 0 16px 0 16px;
}

h2 {
  font: normal 300 1.5em/1.2 Lato, sans-serif;
  padding: 0 16px 0 16px;
}

h3 {
    font: normal 700 1.7em/1.2 Droid Serif, serif;
    padding: 1em 16px 0.5em 16px;
    color: #506077; 
}

p {
    font: normal 400 1em/2 Droid Sans, sans-serif;
    padding: 0 16px 0.2em 16px;
    color: #506077; 
}

h4 {
    font: normal 300 1.5em/2 Lato, sans-serif;
    padding: 1em 16px 0.5em 16px;
    color: #919191;
}

body {
    font-size: 18px;
}

@media screen and (max-width: 320px) {
  .headline{
    top: 45%; 
  }

  .cover{
    font-size: 5vw;
  }

}

@media screen and (min-width:321px) and (max-width: 655px) {
  .headline{
    top: 50%; 
  }

}

@media screen and (min-width: 633px) {
  .headline{
    top: 65%; 
  }
}

.headline {
    color:#ffffff; 
    position: relative;
}

.img-caption {
    font: normal 300 0.9em/1.5 Lato, sans-serif;
    color: #919191; 
    text-align: center;
    margin-top: 0.5em;
}


 .qoute {
    font: normal 400 1em/2 Droid Serif, serif;
    color:#919191; 
    padding: 0.5em 25px 0.5em 25px; 
 }

 /*STRUCTURE */
@media screen and (max-width: 360px) {
  .cover{
  background: url('img/cover-small.png') no-repeat center center; 
  height: 100vh; 
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  }
}


@media screen and (min-width: 361px) and (max-width:640px) {
  .cover{
  background: url('img/cover-medium.png') no-repeat center center;
  height: 100vh; 
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; 
  }
}

@media screen and (min-width: 641px) {
  .cover{
  background: url('img/cover-large.png') no-repeat center center;
  height: 100vh; 
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; 
  }
}

/*
  WHY THIS DOESN'T WORK ? I DON'T KNOW
  cover {
  position: relative;
  display: block;
}

.cover-img {
    width: 100vw;
    display: inline-block;
    vertical-align: middle;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("img_src/cover.png");
}

.cover-img-inner {
    display: inline-block;
    height: 0;
    padding-top: 63.3%;
}*/

.row {
    max-width: 700px;
    margin: 0 auto; 
}

.container-fluid {
    padding: 0; 
}

.img {
    margin: 1em 0 1em 0;
 }
