/*TYPOGRAPHY*/
h1 {
  font: normal 700 2em/1.4 Droid Serif, serif;
  padding: 0 16px 0 16px;
}

h2 {
  font: normal 300 1.5em/1.2 Lato, sans-serif;
  padding: 0 16px 0 16px;
}

@media screen and (max-width: 680px){
  .cover{
    font-size:0.8em;  
  }
}

h3 {
    font: normal 700 1.7em/1.2 Droid Serif, serif;
    padding: 1em 16px 0.5em 16px;
    color: #506077; 
}

p {
    font: normal 400 1em/2 Droid Sans, sans-serif;
    padding: 0 16px 0.2em 16px;
    color: #506077; 
}

h4 {
    font: normal 300 1.5em/2 Lato, sans-serif;
    padding: 1em 16px 0.5em 16px;
    color: #919191;
}

body {
    font-size: 18px;
}

.headline {
    color:#ffffff; 
    position: absolute;
    margin: 0 auto; 
    bottom: 10%; 
    left: 0;
    right: 0; 
}

@media screen and (min-width: 1024px) and (max-width:1280px) {
  .headline{
    bottom: 20%; 
  }
}

@media screen and (min-width: 1281px) and (max-width:1600px) {
  .headline{
    bottom: 40%; 
  }
}

@media screen and (min-width: 1601px) {
  .headline{
    bottom: 48%; 
  }
}

.img-caption {
    font: normal 300 0.9em/1.5 Lato, sans-serif;
    color: #919191; 
    text-align: center;
    margin-top: 0.5em;
}


 .qoute {
    font: normal 400 1em/2 Droid Serif, serif;
    color:#919191; 
    padding: 0.5em 25px 0.5em 25px; 
 }

 /*STRUCTURE */

img {
  width: 100%;
}

.cover {
  position: relative;
}

.cover-img {
  display: block; 
  width: 100%;

}

/*
ON SOLVING ART-DIRECTED RESP IMG APPROACH 
@media screen and (max-width: 680px){
  .cover{
    height: 100vh;
  }
}

@media screen and (min-width: 681px) and (max-width:768px){
  .cover{
    height: 95vh; 
  }
}

@media screen and (min-width: 768px) and (max-width:1024px){
  .cover{
    height: 85vh; 
  }
}

@media screen and (min-width: 1024px){
  .cover{
    height: 80vh; 
  }
}*/

.row {
    max-width: 700px;
    margin: 0 auto; 
}

.container-fluid {
    padding: 0; 
}

.img {
    margin: 1em 0 1em 0;
 }

 .related-img {
  -webkit-filter: saturate(90%) brightness(0.5);
 }

  /*ADDITIONAL COMPONENT */

.related-post-block {
  position: relative; 
  display: block;
  margin: 0 0 2em
   0;
}

.related-title {
  position: absolute; 
  top: 10%; 
  margin: auto; 
  height: 4em; 
  padding: 0.5em;
  font: normal 400 1.3em/1.5 Droid Serif, serif;
  color: #ffffff;  
}

.related-author {
  position: absolute; 
  bottom: 5%; 
  padding: 1em;
}

.related-author {
  font: normal 300 0.8em/1.5 Lato, sans-serif;
  color: #fbfbfb; 
  margin-top: 0.5em;
}

.recommended-post {
  margin: 0 auto 1em auto; 
}

.ava img {
  width: 20px; 
  height: 20px;
}

.ava {
  margin-right: 0.5em; 
}

.related-author-name {
  margin-right: 0.5em;
}

.title-component p {
  color: #F24B3B; 
  padding: 0; 
}

.rcm-block {
  margin-bottom: 1em;
}

.rcm-block-content {
  background-color: #f8f8f8;
  border-radius: 0 0 10px 10px;

}


.rcm-block-banner {
  background-color: #2E3944;
  padding: 0.5em; 
}

.rcm-block-banner .tag {
  color: #5DC5CE;
  font: normal 400 1em/2 Droid Sans, sans-serif;
}

.rcm-block-banner .subscribe {
  color: #FF7079; 
  font: normal 400 1em/2 Droid Sans, sans-serif;
}

.rcm-block-img {
  position: relative;
}

.rcm-block-img img { 
  -webkit-filter: saturate(90%) brightness(0.5); 
}

.rcm-block-title {
  position: absolute; 
  bottom: 5%; 
  margin: auto; 
  padding: 0.4em;
  font: normal 400 1.3em/1.5 Droid Serif, serif;
  color: #ffffff;  
}

.rcm-author {
  font: normal 300 0.8em/1.5 Lato, sans-serif;
  color: #919191; 
  padding: 0.8em;
}

.rcm-meta {
  font: normal 300 0.8em/1.5 Lato, sans-serif;
  color: #919191; 
  padding: 0.8em;
  border-top: 1px solid #919191;
  margin: 0 0.8em 0 0.8em; 
}

.rcm-meta .meta-like, .rcm-meta .meta-comment {
  color: #919191
}

@media screen and (min-width: 768px){
  .related-img{
    height: 270px;
    width: 100%;  
  }
}

.comment {
  background-color: #f8f8f8;
  margin: 2em 0 2em 0; 
}

.comment-meta {
  font: normal 300 0.8em/1.5 Lato, sans-serif;
  color: #4ED0D4; 
}

.comment-meta span {
  padding: 1em; 
  
}

footer {
  padding: 0.8em; 
  text-align: center;
}

footer i {
  padding: 0.5em; 
  color: #506077; 

}